.dateinput {
  margin: 20px;
}
.dateinput_input {
  margin: auto;
  width: 500px;
  height: 100px;
  display: flex;
  margin-top: 50px; 
  margin-bottom: 50px; 
}
.dateinput_inputbox {
  position: relative;
  margin: auto;
  width: 200px;
  height: 100px;
}
.dateinput_inputbox .text {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
}
.dateinput_inputbox .input {
  position: absolute;
  top: 30px;
  left: 0; 
  width: 200px;
  height: 70px;
}
.input_none {
  display: none;
}
.color_1 {
  background-color: rgb(198, 252, 213);
}

.dateinput_button {
  width: 100px;
  height: 50px;
}



/* 
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  position: relative;
  height: 50%;
  left: 50%;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
} 
input[type="checkbox"]:checked {
  background: #1b673c;
}
input[type="checkbox"]:checked::after {
  display: block;
}   */
