.dep_main {
}
.dep_main button:hover {
  cursor: pointer;
}
.dep_main_inner {
  position: relative;
  width: 1800px;  
  left: 0;
  right: 0;
  margin: auto;
}

/* 출석현황 */
.dep_main_presentCondition {

}

.dep_main_title {
  position: relative;
  height: 100px;
  display: flex;
  margin-bottom: 80px;
}

/* 1) 타이틀 */
.dep_main_text {
  width: 230px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 255, 208);
  margin-top: 30px;
  font-size: 2rem;
}
/*  2) 버튼 */
.dep_main_buttonleft {
  position: absolute;
  display: flex;
  left: 20px;
  top: 100px;
}
.dep_agebutton {
  width: 80px;
  height: 50px;
}
.dep_main_buttonright {
  position: absolute;
  display: flex;
  right: 0;
  top: 100px;
}
.buttoncolor {
  background-color: grey;
}
.dep_dateinputbutton,
.dep_homebutton {
  width: 100px;
  height: 50px;
}
.dep_agebutton:hover,
.dep_dateinputbutton:hover,
.dep_homebutton:hover {
  background-color: rgb(189, 188, 188);
}


/* 3) 출석현황 */
.dep_main_presentlist {
  margin-top: 30px;
  overflow-x: scroll;
}
/* 날짜 */
.dep_main_present_date {
  width: 1800px;
}
/* 현황 */
.dep_main_deptable {
  margin-top: 1rem;
  display: none;
}

.dep_main_presentlist::-webkit-scrollbar {
  height: 20px;  /* 가로축 스크롤바 길이 */
}
.dep_main_presentlist::-webkit-scrollbar-thumb {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  background-color: rgb(188, 254, 183);
}

.dep_main_statsbox {
  margin-top: 1rem;
  display: none;
}



/* 출석기입 */
.dep_main_presentInput {
  position: relative;
  width: 1800px;
}
/* 1) 타이틀 */
/* 위와 동일 */

/* 2) 날짜선택 */
.dep_main_dateselect_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  height: 40px;
}
.dep_main_dateselect_text1 {
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(188, 254, 183);
}
.dep_main_dateselect_box { 
  width: 100px;
  height: 100%;
  font-size: 18px;
}
.dep_main_dateselect_text2 {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* 안내메시지 */
.dep_main_noitce_text1 {
  position: absolute;
  top: 90px;
  left: 50px;
}
.dep_main_noitce_text2 {
  position: absolute;
  top: 120px;
  left: 50px;
}
/* 3) 현황버튼 */
.dep_main_inputstate {
  position: absolute;
  top: 70px;
  right: 160px;
  display: flex;
}
.dep_main_inputstate_text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
  font-size: 20px;
  color: rgb(220, 4, 4);
}
.dep_main_inputstate_text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  background-color: rgb(188, 254, 183);
}



/* 4) 출석입력 */
.dep_main_dateinput {
  display: flex;
  margin-top: 80px;
}
.dep_main_input_wrapper{
  display: none;
  width: 1200px;
}
.dep_main_dateinput_box {
  margin: 10px;
  display: flex;
}
.dep_main_dateinput_content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}
.dep_main_dateinput_content2 {
  display: flex;
  width: 100px;
  height: 40px;
  
}
.dateinput_namebox {
  position: relative;
  display: flex;
  margin: 0 5px;
}
.dateinput_name_label {
  float: left;
  width: 80px;
}
.dateinput_name_name {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  cursor: pointer;
}
.dateinput_name_input {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #333; 
}  


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  position: relative;
  height: 50%;
  left: 50%;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
} 
input[type="checkbox"]:checked {
  background: #1b673c;
}
input[type="checkbox"]:checked::after {
  display: block;
}   

/* 출석적용현황 */
.dateinput_content_stats {
  border: 1px solid #333; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.dateinput_state_box {
  width: 600px;
  height: 100%;
}
.dateinput_stats_wrapper {
  display: none;
  width: 100%;
  height: 100%;
}
.dateinput_state_contentbox {
  display: flex;
  flex-wrap: wrap;
}
.dateinput_state_content_name {
  width: 95px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 253, 201);
}
.showflex {
  display: block;
}


/* 버튼 */
.dateinput_content_button_box {
  height: 200px;
  position: absolute;
  right: -50px;
  display: flex;
  margin: 50px;
}
.dateinput_content_button {
  width: 120px;
  height: 60px;
}
.dateinput_content_button button {
  width: 110px;
  height: 60px;
}
.dateinput_inputbutton:hover,
.dateinput_refreshbutton:hover,
.dateinput_uplordbutton:hover,
.dateinput_homebutton:hover,
.dateinput_deletebutton:hover {
  background-color: rgb(189, 188, 188);
}


.dep_main_noitce_text3 {
  position: absolute;
  top: 90px;
  
}
.dep_main_noitce_text4 {
  position: absolute;
  top: 120px;
  
}


@media screen and (max-width : 1500px) { 
  .dep_main_title {
    width: 1400px;
  }
  .dep_main_presentInput {
    width: 1400px;
  }
  .dep_main_inputstate {
    top: 70px;
    right: 100px;
  }
  .dep_main_input_wrapper{
    width: 1000px;
  }
  .dateinput_name_label {
    width: 70px;
  }
  .dateinput_state_box {
    width: 500px;
  }
  
}


@media screen and (max-width : 1000px) { 
  .dep_main_title {
    width: 950px;
  }
  .dep_main_presentInput {
    width: 950px;
  }
  .dep_main_input_wrapper {
    margin-top: 150px;
  }
  .dep_main_inputstate {
    top: 140px;
    left: 30px;
  }
  .dep_main_inputstate_text2 {
    display: none;
  }
  .dep_main_inputstate_text1 {
    margin-right: 50px;
  }
  .dep_main_dateselect_text2 {
    display: none;
  }
  .dep_main_dateinput {
    display: block;
  }
}

@media screen and (max-width : 600px) { 
  /* 출석현황 */
  .dep_main_title {
    width: 580px;
    margin-bottom: 130px;
    padding: 1px;
  }
  .dep_main_text {
    position: absolute;
    left: 20px;
  }
  .dep_main_buttonright {
    top: 160px;
    left: 20px;
  }

  /* 출석기입 */
  .dep_main_presentInput{
    padding: 1px;
  }
  /* 2) 날짜선택 */
  .dep_main_dateselect_wrapper{
    display: flex;
    top : 120px;
    left: 20px;
  }
  .dep_main_noitce_text1 {
    top : 180px;
    left: 20px;
  }
  /* 3) 현황버튼 */
  .dep_main_inputstate {
    top : 220px;
    left: 50px;
  }
  .dep_main_inputstate_text2 {
    display: none;
  }
  /* 4) 출석입력 */
  .dep_main_dateinput {
    width: 400px;
  }
  .dep_main_input_wrapper {
    margin-top: 250px;
  }
  .dep_main_dateinput_box {
    display: block;
    width: 50px;
  }
  .dateinput_name_label {
    width: 60px;
  }
   
  .dep_main_dateinput_dateinput_content1,
  .dep_main_dateinput_dateinput_content2 {
    margin: 10px 0;
  }
  /* 출석적용현황 */
  
  .dateinput_content_stats {
    margin: 15px;
  }
  /* 버튼 */
  .dateinput_content_button_box {
    left: -30px;
  }
  .dateinput_content_button {
    width: 80px;
    height: 60px;
  }
  .dateinput_content_button button {
    width: 75px;
    height: 60px;
    font-size: 14px;
  }
}