.dep_wrapper {
  width: 1900px;
  display: flex;
  margin-bottom: 10px;
}

.dep_agenamebox {
  position: fixed;
  display: flex;
  z-index: 9;
  background-color: #fff;
}
.dep_empty {
  width: 20px;
}
.dep_group {
  position: relative;
  width: 100px;
  border: 0.1px solid rgb(187, 187, 187);
}
.dep_group div {
  display: flex;
  width: 100%; 
  height: 100%; 
  align-items: center;
  justify-content: center;
}
.dep_name {
  position: relative;
}
.dep_namebox {
  width: 100px;
  height: 31px;
  border: 0.1px solid rgb(187, 187, 187);
  background-color: #fcfbe6;
}
.dep_namebox div {
  display: flex;
  width: 100%; 
  height: 100%; 
  align-items: center;
  justify-content: center;
}



.dep_nametablebox {
  position: relative;
  width: 1680px;
  left: 220px;
}
.dep_nametablebox .dep_nametableboxwrapper {
  display: flex;
}
.dep_nametablebox .dep_deptable_date {
  width: calc(1580px / 53);
  height: 30px;
  border: 0.1px solid rgb(187, 187, 187);
  vertical-align: middle;
} 
.dep_nametablebox .color_1 {
  background-color: rgb(198, 252, 213);
} 
