div {
  text-align: center;
}

.inner {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 1700px;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 50px;
}

.inner .title {
  font-size: 30px;
  color: #76827b;
}

.inner .titlebox {
  display: block;
  width: 1700px;
  margin-bottom: 20px;
}

.inner .repeatbox {
  display: block;
  width: 1700px;
}

.tablebox {
  display: flex;
  width: 800px;
  height: 60px;
  left: 0;
  right: 0;
  margin: 8px auto;
  background-color: #eaf5ef;
  border-radius: 10px;
}

.box {
  left: 0;
  right: 0;
  margin: auto;
  width: 240px;
  height: 30px;
}

.box2 {
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 30px;
}


.boxline {
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 40px;
  vertical-align: middle;
  border: 1px solid #a8b7ae;
}


.delete {
  margin: auto;
  width: 80px;
  height: 30px;
}

.button4 {
  background-color: #fcfbe6;
  font-size: 18px;
  width: 60px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.5s;
}

.button4:hover {
  background-color: #6f6e5a;
  font-weight: bold;
}


.button5 {
  background-color: #fcfbe6;
  font-size: 20px;
  width: 100px;
  height: 60px;
  top: 50px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
}

.button5:hover {
  background-color: #6f6e5a;
  font-weight: bold;
}
.homeButton {
  left: 1150px;
 }
