.dateinput {
  margin: 10px 20px;
}
.dateinput_wrapper {
 display: flex;
}

/* 소그룹명 */
.dateinput_content1 {
  width: 120px;
  height: 30px;
  position: relative;
  top: 10px;
}

/* 학생선택박스 */
.dateinput_content2 {
  display: flex;
  width: 1000px;
  height: 40px;
}
.dateinput_namebox {
  position: relative;
  display: flex;
  margin: 0 5px;
}
.dateinput_name_label {
  float: left;
  width: 80px;
}
.dateinput_name_name {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  cursor: pointer;
}
.dateinput_name_input {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #333; 
}  


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  position: relative;
  height: 50%;
  left: 50%;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
} 
input[type="checkbox"]:checked {
  background: #1b673c;
}
input[type="checkbox"]:checked::after {
  display: block;
}    

/* 입력(+)버튼 */
.dateinput_content3 {

}
.dateinput_button {
  margin: 0 3px;
  width: 80px;
  height: 40px;
}
.dateinput_button:hover {
  background-color: rgb(189, 188, 188);
}

/* 출석적용현황 */
.dateinput_content4 {
  width: 700px;
  height: 50px;
  border: 1px solid #333; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.dateinput_state_box1 {
  display: none;
}
.dateinput_state_text { /* 가로360px이하 보임 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 45px;
  background-color: rgb(188, 254, 183);
}
.dateinput_state_box2 {
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center
}
.dateinput_state_content {
  margin: 2px;
}

@media screen and (max-width : 1500px) { 
  .dateinput_content1 {
    width: 150px;
  }
  .dateinput_content2 {
    width: 800px;
  }
  .dateinput_button {
    width: 50px;
  }
  .dateinput_content4 {
    width: 500px;
  }

}

@media screen and (max-width : 1000px) { 
  .dateinput {
    font-size: 14px;
  }
  .dateinput_content1 {
    width: 100px;
  }
  .dateinput_content2 {
    width: 600px;
  }
  .dateinput_name_label {
    width: 60px;
  }
  .dateinput_content4 {
    width: 300px;
  }
}

@media screen and (max-width : 600px) { 
  .dateinput_wrapper {
    display: block;
  }
  .dateinput_name_label {
    width: 50px;
  }
  .dateinput_button {
    width: 40px;
  }
  .dateinput_content4 {
    width: 400px;
  }
  .dateinput_state_box1 {
    display: block;
    width: 50px;
  }
  .dateinput_content1,
  .dateinput_content2 {
    margin: 10px 0;
  }
}