td {
  border: 1px solid #333;
  vertical-align: middle;
}

.Stats {
  width: 1800px;
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.Stats_table1 {
  position: sticky;
  left: 0;
  width: 220px;
  height: 50px;
  display: flex;
  z-index: 1;
  background-color: #fff;
}
.Stats_empty {
  width: 20px;
}
.Stats_group,
.Stats_name {
  width: 100px;
}

.Stats_table2 {
  position: relative;
  width: 1580px;
  height: 50px;
}
.Stats_table2 .date {
  background-color: rgb(165, 214, 252);
  font-size: 1rem;
  height: 49px;
  width: calc(1580px / 53);
  text-align: center;
}




