.result_wrapper {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.result {
  position: relative;  
  left: 0;
  right: 0;
  margin: auto;
  width: 1700px;
  height: 1450px;
  background-image: url('../images/YouthReport2-1.jpg');
  background-repeat: no-repeat;
}

span {
  text-align: center;
  font-size: 27px;
  z-index: 1;
  position: absolute;  
}

.result부서 {
  font-size: 30px;
  top: 412px;
  left: 285px;
  width: 780px;
  height: 50px;
}

.result날짜 {
  top: 535px;
  height: 50px;
  width: 100px;
}
.result날짜.년 {
  left: 285px;
  width: 150px;
}
.result날짜.월 {
  left: 550px;
}
.result날짜.일 {
  left: 760px;
}
.result날짜.째주 {
  left: 950px;
}

.result예배 {
  top: 750px;
  width: 230px;
  height: 50px;
}
.result예배.예배기도자 {
  left: 285px;
}
.result예배.설교본문 {
  left: 535px;
}
.result예배.설교자 {
  left: 787px;
}
.result예배.설교제목 {
  left: 1040px;
  width: 480px;
}


.result헌금 {
  top: 950px;
  width: 230px;
  height: 50px;
}
.result헌금1 {
  left: 285px;
}
.result헌금2 {
  left: 535px;
}
.result헌금3 {
  left: 787px;
}
.result헌금4 {
  left: 1040px;
}
.result헌금.합계 {
  left: 1293px;
}


.result출석-반 {
  font-size: 25px;
  width: 75px;
  height: 50px;
  position: absolute;
  top: 1075px;
}
.result출석-반.출석-반1 {
  left: 432px;
}
.result출석-반.출석-반2 {
  left: 528px;
}
.result출석-반.출석-반3 {
  left: 620px;
}
.result출석-반.출석-반4 {
  left: 710px;
}
.result출석-반.출석-반5 {
  left: 802px;
}
.result출석-반.출석-반6 {
  left: 893px;
}
.result출석-반.출석-반7 {
  left: 984px;
}
.result출석-반.출석-반8 {
  left: 1076px;
}
.result출석-반.출석-반9 {
  left: 1167px;
}
.result출석-반.출석-반10 {
  left: 1258px;
}
.result출석-반.출석-반11 {
  left: 1350px;
}
.result학년 {
  font-size: 25px;
  left: 280px;
  width: 105px;
  height: 50px;
}
.result학년.세_1 {
  top: 1150px;
}
.result학년.세_2 {
  top: 1220px;
}
.result학년.세_3 {
  top: 1292px;
}


.result출석1 {
  width: 80px;
  height: 50px;
  top: 1150px;
}
.result출석1.출석1-1 {
  left: 435px;
}
.result출석1.출석1-2 {
  left: 528px;
}
.result출석1.출석1-3 {
  left: 620px;
}
.result출석1.출석1-4 {
  left: 710px;
}
.result출석1.출석1-5 {
  left: 802px;
}
.result출석1.출석1-6 {
  left: 893px;
}
.result출석1.출석1-7 {
  left: 984px;
}
.result출석1.출석1-8 {
  left: 1076px;
}
.result출석1.출석1-9 {
  left: 1167px;
}
.result출석1.출석1-10 {
  left: 1258px;
}
.result출석1.출석1-11 {
  left: 1350px;
}
.result출석1.출석1-12 {
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  left: 1446px;
}



.result출석2 {
  width: 80px;
  height: 50px;
  top: 1220px;
}

.result출석2.출석2-1 {
  left: 435px;
}
.result출석2.출석2-2 {
  left: 528px;
}
.result출석2.출석2-3 {
  left: 620px;
}
.result출석2.출석2-4 {
  left: 710px;
}
.result출석2.출석2-5 {
  left: 802px;
}
.result출석2.출석2-6 {
  left: 893px;
}
.result출석2.출석2-7 {
  left: 984px;
}
.result출석2.출석2-8 {
  left: 1076px;
}
.result출석2.출석2-9 {
  left: 1167px;
}
.result출석2.출석2-10 {
  left: 1258px;
}
.result출석2.출석2-11 {
  left: 1350px;
}
.result출석2.출석2-12 {
  left: 1446px;
}



.result출석3 {
  top: 1292px;
  width: 80px;
  height: 50px;
}
.result출석3.출석3-1 {
  left: 435px;
}
.result출석3.출석3-2 {
  left: 528px;
}
.result출석3.출석3-3 {
  left: 620px;
}
.result출석3.출석3-4 {
  left: 710px;
}
.result출석3.출석3-5 {
  left: 802px;
}
.result출석3.출석3-6 {
  left: 893px;
}
.result출석3.출석3-7 {
  left: 984px;
}
.result출석3.출석3-8 {
  left: 1076px;
}
.result출석3.출석3-9 {
  left: 1167px;
}
.result출석3.출석3-10 {
  left: 1258px;
}
.result출석3.출석3-11 {
  left: 1350px;
}
.result출석3.출석3-12 {
  left: 1446px;
}



.result출석총원-재적 {
  width: 80px;
  height: 50px;
  z-index: 1;
  top: 1365px;
  left: 1295px;
}
.result출석총원-계 {
  top: 1365px;
  width: 80px;
  height: 50px;
  left: 1446px;
}

.result결석자박스 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  left: 0;
  right: 0;
  margin: auto;
  width: 1700px;
  background-image: url(../images/YouthReport2-2.jpg);
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-left: 264px;
}
.result결석자박스리스트 {
  width: 630px;
  height: 80px;
  background-image: url(../images/YouthReport2-3.jpg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  padding-top: 20px;
  margin: 1px;
}
.result소그룹 {
  width: 130px;
  height: 50px;
}
.result결석자 {
  margin-left: 130px;
  width: 160px;
  height: 50px;
}
.result사유 {
  margin-left: 310px;
  width: 290px;
  height: 50px;
}


.result_buttons2 {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  width: 1700px;
  height: 300px;
  background-image: url(../images/YouthReport2-4.jpg);
  background-repeat: no-repeat;
}

.button3 {
  background-color: #fcfbe6;
  font-size: 18px;
  width: 120px;
  height: 80px;
  position: absolute;
  top: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.button3:hover {
  background-color: #6f6e5a;
  font-weight: bold;
}

.captureButton {
  left: 950px;
}
.uplordButton2 {
  left: 1400px;
}
.modifyButton {
  left: 1100px;
}
.newButton {
  left: 1250px;
}
